@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(l.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.box{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 90vh;
}

.cotainer{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

span{
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    font-weight: bold;
}

header{
  color: #fff;
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.input-field{
    display: flex;
    flex-direction: column;
}

.input{
    height: 45px;
    width: 95%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px; 
    background: rgb(255,255,255,0.1);
}

i{
   position: relative;
   top: -30px;
   left: 17px;
   color: #fff;
}

::-webkit-input-placeholder{
    color: #fff;
}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: 1s;
}

.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(247, 6, 6, 0.758);
}
.bottom{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: small;
   color: #fff;
   margin-top: 10px; 
}

.left{
    display: flex;
}

label{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.signup{
    font-size: 17px;
    text-align: center;
  }
  .signup label{
    color: #009579;
    cursor: pointer;
  }
  .signup label:hover{
    text-decoration: underline;
  }


.eye{
   position: absolute;
   margin-top: 30px;
   margin-left: 250px;

 } 

 #hide1{
    display: none;
    
 }